body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #CBCBCB;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-size: 76px;
    margin-top: 0;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.settings-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 125px;
    text-align: center;
    font-weight: 700;
}

.color-selector{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-bottom: 30px;
    border:none;
    background-color: #CBCBCB;
    transition-duration: 0.3s;
}

.color-selector::-webkit-color-swatch{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.color-selector:hover{
    transform: scale(1.1);
}

.rainbow-mode{
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.rainbow-mode button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    border: none;
    transition-duration: 0.3s;
}

.rainbow-mode button:hover{
    transform: scale(1.1);
}

.eraser-mode{
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.eraser-mode button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 29px;
    border: none;
    transition-duration: 0.3s;
}

.eraser-mode button:hover{
    transform: scale(1.1)
}

.color-mode{
    display: flex;
    align-items: center;
}

.color-mode button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 35px;
    border: none;
    background-color: black;
    transition-duration: 0.3s;
}

.color-mode button:hover{
    transform: scale(1.1)
}

.clear-grid{
    border: none;
    font-weight: 700;
    margin-top: 25px;
    width: 75%;
    height: 35px;
    border-radius: 15px;
    transition-duration: 0.3s;
}

.clear-grid:hover{
    transform: scale(1.05);
}

.slider-div{
    width: 100%;
    margin-top: 5px;
}

.size-slider{
    width: 100%;
    height: 10px;
    appearance: none;
    border-radius: 5px;
    margin-top: 0px;
}

.size-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #000000;
    cursor: pointer;
    transition-duration: 0.3s;
  }

.size-slider::-webkit-slider-thumb:hover{
    transform: scale(1.2);
}
  
  .size-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
  }

h4{
    margin-bottom: 0px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto);
    width: 32em;
    height: 32em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-element{
    background-color: white;
}

.grid-element:hover{
    background-color: #EEEEEE;
}

.footer{
    text-align: center;
}

/*Media Queries*/
@media (max-width: 600px) {
    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

   .settings-container{
        margin-left: 0px;
   }

   .grid-container{
        width: 20em;
        height: 20em;
   }
}

@media (min-width: 800px){
    .footer{
        bottom: 0;
        left: 0;
        width: 100%;
        position: absolute;
    }
}